@import url("https://fonts.googleapis.com/css?family=Lato|Poppins|Kaushan+Script");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

body {
  background: radial-gradient(circle at bottom, navy 0, black 100%);
}

* {
  /* font-family: "Poppins", Lato, Tahoma, sans-serif; */
  font-family: "Pixelify Sans", sans-serif;
  /* font-family: "Jersey 10", sans-serif; */
  font-weight: 700;
  font-optical-sizing: auto;
  font-style: normal;
}

.title__page {
  transform: rotate(-3deg);
  font-size: 5rem;
  color: whitesmoke;
}

.profesion {
  padding-top: 5px;
  font-size: 1.7rem;
  text-transform: uppercase;
}

/* Estilos para la sección Hero con imagen de fondo */
.hero {
  position: relative;
  /* Necesario para posicionar el overlay */
  background-image: url("../assets/Silver-stones.jpg");
  background-size: cover;
  /* La imagen cubre todo el contenedor */
  background-position: center;
  /* La imagen se centra */
  background-repeat: no-repeat;
  overflow: hidden;
  /* Evita que la imagen se repita */
}

/* Aseguramos que el contenido del hero esté por encima de las animaciones */
.hero-body {
  /* position: relative; */
  /* z-index: 2; */
}

/* Overlay oscuro para mejorar la legibilidad del texto */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  /* Negro con 50% de opacidad */
}

#title {
  font-size: 5rem;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px #4153d7, 2px 2px 0px #4153d7, 3px 3px 0px #4153d7,
    4px 4px 0px #4153d7, 5px 5px 0px #4153d7;
}

.glitch {
  font-size: 5rem;
  font-weight: bold;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f00;
  background: transparent;
  overflow: hidden;
  clip-path: inset(0 0 50% 0);
  animation: glitch 2s infinite;
}

.glitch::after {
  color: #0ff;
  clip-path: inset(50% 0 0 0);
  animation: glitch 2s infinite reverse;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

.galaxy {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(circle, #1a1a2e, #16213e, #160f60);
  animation: galaxyMove 10s infinite linear;
  background-size: 100%;
}

@keyframes galaxyMove {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1920px 1080px;
  }
}

.space {
  background: rgba(17, 12, 52, 0.1) center / 200px 200px round;
  /* border: 0.1px dashed rgb(70, 13, 70); */
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.estrella1 {
  animation: space 180s ease-in-out infinite;
  background-image:
    radial-gradient(1px 1px at 25px 5px,
      white,
      rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 50px 25px,
      white,
      rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 125px 20px,
      white,
      rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 50px 75px,
      white,
      rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 15px 125px,
      white,
      rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 110px 80px,
      white,
      rgba(255, 255, 255, 0));
}

.estrella2 {
  animation: space 240s ease-in-out infinite;
  background-image:
    radial-gradient(1px 1px at 75px 125px,
      white,
      rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 100px 75px,
      white,
      rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 199px 100px,
      white,
      rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 20px 50px,
      white,
      rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 100px 5px,
      white,
      rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 5px 5px,
      white,
      rgba(255, 255, 255, 0));
}

.estrella3 {
  animation: space 300s ease-in-out infinite;
  background-image:
    radial-gradient(1px 1px at 10px 10px,
      white,
      rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 150px 150px,
      white,
      rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 60px 170px,
      white,
      rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 175px 180px,
      white,
      rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 195px 95px,
      white,
      rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 95px 145px,
      white,
      rgba(255, 255, 255, 0));
}

@keyframes space {
  40% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.25;
  }

  60% {
    opacity: 0.75;
  }

  100% {
    transform: rotate(360deg);
  }
}

.galaxy:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/Stars.jpg);
  background: radial-gradient(circle, #1a1a2e, #16213e, #160f60);
  background-size: 100%;
  opacity: .5;
  mix-blend-mode: hard-light;
}

.galaxy:hover:before {
  animation: animate .2s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }

  10% {
    background-position: 5px 0;
  }

  20% {
    background-position: -5px 0;
  }

  30% {
    background-position: 15px 0;
  }

  40% {
    background-position: 5px 0;
  }

  50% {
    background-position: -25px 0;
  }

  60% {
    background-position: -50px 0;
  }

  70% {
    background-position: 0 -20px;
  }

  80% {
    background-position: -60px -20px;
  }

  81% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 0;
    filter: hue-rotate(360deg);
  }
}

.img img {
  padding: 25px;
  width: 400px;
}

div #fondo-space {
  position: absolute;
  background-image: url(../assets/Stars.jpg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

blockquote {
  border-left: 4px solid #E74F7D;
  padding-left: 10px;
  margin: 30px 0px;
}

 .letras {
  color: #E74F7D;
  font-size: 100%;
  font-weight: 500;
}
video.video-frame {
  border-radius: 10px;
}