@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
:root{
  --font-size:1rem;
}
* {
  /* font-family: "Poppins", Lato, Tahoma, sans-serif; */
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 700;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0 auto;
 padding:0 auto; 
}
blockquote {
  border-left: 4px solid #E74F7D;
  padding-left: 10px;
  margin: 30px 0px;
}
.Navbar {
 position: relative;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 15px;
}
.Navbar__Image {
width: 20px;
height:20px;
}
.Navbar__Menu {
display: flex;
justify-content:flex-end;
gap:15px;
font-size: var(--font--size);
}
.Navbar__Menu__Link {
text-decoration-line: none;
text-align: center;
border:1px solid #E74F7D;
border-radius: 5px;
padding:2px
}
.Navbar__Menu__Link:hover{
  background: #E74F7D;
}